<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jack.winter.rest.dao.jack.JackUserDao">
    <update id="updateUserById">
        update
            t_user
        set
            <if test="userName!=null">
                user_name=#{userName}
            </if>
            <if test="userPassword!=null">
              user_password=#{userPassword}
            </if>
            <if test="userState!=null">
                user_state=#{userState}
            </if>
        where
            user_id=#{userId}
    </update>
    <insert id="insertUser" parameterType="com.jack.winter.rest.domain.User">
        insert into t_user
        (
            user_id,
            user_name,
            user_password,
            user_state
        )values(
            #{userId},
            #{userName},
            #{userPassword},
            #{userState}
        )
    </insert>
</mapper>